<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboardStyle.css">
    <link rel="stylesheet" href="/stylesheets/tableStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <div id="sidenav">
        <div id="userNav">
            <%= user.name%>
                <form action="/profile/<%=user._id%>/edit">
                    <button>EDIT PROFILE</button>
                </form>
                <form action="/logout">
                    <button>LOGOUT</button>
                </form>
        </div>
        <div id="sideContent">
            <%if(user.projects){%>
                <%for (let i=0; i<userProjects.length; i++){%>
                    <div> <a href="/projects/<%=userProjects[i]._id%>">
                            <%=userProjects[i].name%>
                        </a> </div>
                    <%}%>
                        <%}%>
                            <div>
                                <a href="/projects/new"> + NEW PROJECT</a>
                            </div>
        </div>
    </div>
    <div id="mainSec">
        <div id="mainHeader">
            MY DASHBOARD
        </div>
        <div id="mainContent">
            <div class="tableTitle"> MY TASKS </div>
            <table id="dashboardTaskTable">
                <th class="dasboardTaskHeader">Task</th>
                <th class="dasboardTaskHeader">Project</th>
                <th class="dasboardTaskHeader">Due</th>
                <th class="dasboardTaskHeader">Status</th>
                <%if (userTasks){%>
                    <%for (let i=0; i<userTasks.length; i++){%>
                        <tr class="dasboardTaskRow">
                            <td class="dasboardTaskCell">
                                <%=userTasks[i].name%>
                            </td>
                            <td class="dasboardTaskCell">
                                <%=userTasks[i].project%>
                            </td>
                            <td class="dasboardTaskCell">
                                <%=userTasks[i].due.toDateString()%>
                            </td>
                            <td class="dasboardTaskCell">
                                <%=userTasks[i].status%>
                            </td>
                        </tr>
                        <%}%>
                            <%}%>


            </table>

        </div>

    </div>

    <script src="/javascripts/scripts.js"></script>
</body>

</html>