<%- include('./partials/header.ejs'); %>

    <%- include('./partials/nav.ejs'); %>
        <%- include('./partials/sidenav.ejs'); %>

            <div id="mainContent">

                <div id="filterSelect">
                    <form action="#">
                        <div>
                            Filter by Project

                            <%if(userProjects){%>
                                <%for (let i=0; i<userProjects.length; i++){%>

                                    <p>
                                        <label>
                                            <input class="projectFilter" name="<%=userProjects[i]._id%>"
                                                type="checkbox" />
                                            <span>
                                                <%=userProjects[i].name%>
                                            </span>
                                        </label>
                                    </p>
                                    <%}%>
                                        <%}%>

                        </div>
                        <div>
                            Filter by Status
                            <p>
                                <label>
                                    <input class="statusFilter" name="icebox" type="checkbox" />
                                    <span>Icebox</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="statusFilter" name="current" type="checkbox" />
                                    <span>Current/MVP</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="statusFilter" name="completed" type="checkbox" />
                                    <span>Completed</span>
                                </label>
                            </p>
                        </div>
                    </form>
                </div>

                <div id="taskContainer">

                    <table class="bordered" id="dashboardTaskTable">
                        <th id="taskHeader">Task <img id="taskArrow" class="sortArrow" src="/images/down.png"
                                alt=""></th>
                        <th id="projectHeader">Project <img id="projArrow" class="sortArrow" src="" alt="">
                        </th>
                        <th id="dueHeader">Due <img id="dueArrow" class="sortArrow" src="" alt="">
                        </th>
                        <th id="statusHeader">Status <img id="statusArrow" class="sortArrow" src="" alt="">
                        </th>

                    </table>

                    <div>
                        <canvas id="myChart" width="200" height="100"></canvas>

                    </div>
                </div>

            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="/javascripts/dashboard.js"></script>

            <%- include('./partials/footer.ejs'); %>