<%- include('./partials/header.ejs'); %>

    <%- include('./partials/nav.ejs'); %>
        <%- include('./partials/sidenav.ejs'); %>


            <div id="mainContent">

                <div id="filterSelect">

                    <form action="#">
                        <div>
                            Filter by Person


                            <%if(project.groupMembers){%>
                                <%for (let i=0; i<project.groupMembers.length; i++){%>

                                    <p>
                                        <label>
                                            <input class="personFilter" name="<%=project.groupMembers[i]._id%>"
                                                type="checkbox" />
                                            <span>
                                                <%=project.groupMembers[i].name%>
                                            </span>
                                        </label>
                                    </p>
                                    <%}%>
                                        <%}%>

                        </div>
                        <div>
                            Filter by Status
                            <p>
                                <label>
                                    <input class="statusFilter" name="icebox" type="checkbox" />
                                    <span>Icebox</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="statusFilter" name="current" type="checkbox" />
                                    <span>Current/MVP</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="statusFilter" name="completed" type="checkbox" />
                                    <span>Completed</span>
                                </label>
                            </p>
                        </div>
                    </form>

                    <div>


                        GROUP MEMBERS
                        <br>
                        <%if (project.groupMembers){%>
                            <%for (let i=0; i< project.groupMembers.length; i++){%>
                                <!-- <%=project.groupMembers[i].name%> -->
                                <form method="POST"
                                    action="/projects/<%=project._id%>/member/<%=project.groupMembers[i]._id%>/destroy?_method=DELETE">
                                    <label for="">
                                        <%=project.groupMembers[i].name%>
                                    </label>
                                    <button class="updateBtn"> <img class="updateImg" src="/images/delete.png"
                                            alt="deleteMember">
                                    </button>
                                </form>
                                <%}%>
                                    <%}%>
                                        <form id="gmForm" action="/projects/<%=project._id%>/addMember" method="POST">
                                            <select required name="newMember" id="user-select">

                                                <option disabled value="">Add member</option>
                                                <%for (let i=0; i<potGM.length; i++){%>
                                                    <option class="gmOption" value="<%=potGM[i]._id%>">
                                                        <%=potGM[i].name%>
                                                    </option>
                                                    <%}%>
                                            </select>

                                            <button class="waves-effect waves-light btn"> ADD MEMBER
                                            </button>
                                        </form>
                                        <br><br>


                                        <form method="POST" action="/projects/<%=project._id%>?_method=DELETE">
                                            <button class="waves-effect waves-light btn">Delete Project</button>
                                        </form>
                    </div>
                </div>
                <div id="taskContainer">
                    <div>
                        <table id="dashboardTaskTable">
                            <th id="taskHeader">Task <img id="taskArrow" class="sortArrow" src="/images/down.png"
                                    alt=""></th>
                            <th id="assignedHeader">Assigned to <img id="assignedArrow" class="sortArrow" src="" alt="">
                            </th>
                            <th id="dueHeader">Due <img id="dueArrow" class="sortArrow" src="" alt="">
                            </th>
                            <th id="statusHeader">Status <img id="statusArrow" class="sortArrow" src="" alt="">
                            </th>
                            <th id="actionHeader">Actions</th>

                        </table>

                    </div>

                    <ul class="collapsible">
                        <li>
                            <div id="taskDiv" class="collapsible-header"><img id="taskIcon" class="icon"
                                    src="/images/expand.png" alt=""> &nbsp; ADD A TASK</div>
                            <div class="collapsible-body">

                                <div id="newTaskForm">

                                    <form action="/projects/<%=project._id%>/task" method="POST">


                                        <div>
                                            <input required type="text" name="taskName">
                                            <label for="taskName">Task</label>
                                        </div>
                                        <div>
                                            <select name="assignedTo" id="assignedTo">
                                                <option disabled value="">choose one:</option>
                                                <%for (let i=0; i<project.groupMembers.length; i++){%>
                                                    <option value="<%=project.groupMembers[i]._id%>">
                                                        <%=project.groupMembers[i].name%>
                                                    </option>
                                                    <%}%>
                                            </select>
                                            <label>Assigned To</label>
                                        </div>

                                        <div>
                                            <input required type="date" id="dueDate" name="dueDate">
                                            <label for="dueDate">Due</label>
                                        </div>

                                        <div>
                                            <select required name="status" id="status">
                                                <option disabled value="">--Please choose an option--</option>
                                                <option value="icebox">Icebox</option>
                                                <option value="current">Current/MVP</option>
                                                <option value="completed">Completed</option>
                                            </select>
                                            <label>Status</label>

                                        </div>

                                        <button class="waves-effect waves-light btn"> ADD TASK
                                        </button>


                                    </form>

                                </div>
                        </li>
                    </ul>
                </div>

                <input id="projectId" type="hidden" value="<%=project.id%>">
            </div>



            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="/javascripts/project.js"></script>

            </body>

            </html>